<section class="contact-main-area pt-120 pb-60">
    <div class="container container-small">
        <div class="row">
            <div class="col-lg-8 col-md-12">
                <div class="contact-main-wrapper mb-60">
                    <div class="section-title">
                        <h6 class="section-main-title mb-40">Thank you for choosing our store, we hope to see you again</h6>
                        <div class="d-inline-flex p-2"><h4>This Your Tracking Number :</h4> </div class="shadow-lg p-3 mb-5 bg-body-tertiary rounded"">  #solasfc6a2ab2-9d51-4d42-a93b-c4a7e4672089   </div>
                    <div class="contact-main-form">

                        <div class="row">

                            <div class="contact-btn">
                                <a asp-action="Index" asp-controller="Home" class="fill-btn">Go Gome</a>

                            </div>
                            <br />     <br />     <br />
                            <div class="contact-btn">
                                <a asp-action="Trackinginput" class="fill-btn">Tracking Your Order?</a>

                            </div>
                        </div>


                    </div>
                </div>
            </div>
        </div>
    </div>
</section>