@model Solas.BL.Models.HomeSlider

@{
    ViewData["Title"] = "AddHomeSlider";
}

<h1>AddHomeSlider</h1>

<h4>HomeSlider</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="AddHomeSlider" method="post" enctype="multipart/form-data">
            <div asp-validation-summary="All" class="text-danger"></div>
          
          
            <div class="form-group">
                <label asp-for="ShortTitle" class="control-label"></label>
                <input asp-for="ShortTitle" class="form-control" />
                <span asp-validation-for="ShortTitle" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="LongTitle" class="control-label"></label>
                <input asp-for="LongTitle"  class="form-control"  />
                <span asp-validation-for="LongTitle" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="UrlImage" class="control-label"></label>
                <input asp-for="UrlImage" type="file" class="form-control" name="HomeSliderimage" />
                <span asp-validation-for="UrlImage" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
                <a asp-action="Index" asp-controller="Dachboard">Back to List</a>

            </div>
        </form>
    </div>
</div>

<div>
</div>

