@model Solas.BL.Models.Advertisement
@if (Model != null)
{
    

<div class="header-note">
    <p>@Model.AdvertisementText </p>
    <span class="note-close-btn"><i class="flaticon-cancel"></i></span>
    </div>
}
else
{
    
}